<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Tambahkan permission untuk internet (jika belum ada) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourAssistantYora"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.YourAssistantYora" />

        <!-- Login Activity - LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.YourAssistantYora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.YourAssistantYora" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.YourAssistantYora" />

        <!-- Check Email Activity -->
        <activity
            android:name=".CheckEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.YourAssistantYora" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.YourAssistantYora" />

    </application>

</manifest>